$spBreakPoint: 375;

@function pxToVw($pxValue) {
    @return (($pxValue / $spBreakPoint) * 100) + vw;
}


/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    max-width : 100%;
    max-height: 100%;
    overflow: hidden;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/*** top ***/
.wrapper {
    width: 100%;
    height: 100%;

    .app {
        display: none;
        width: 100%;
        height: 100%;

        &.active {
            display: block;
        }
    }

    .canvas-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
/*** /top ***/

.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: ripple ease-out;
    animation-duration: 1000ms;
    width: pxToVw(210);
    height: pxToVw(210);
    border: pxToVw(5) solid rgba(255,255,255,.8);
}

@keyframes ripple {
    0% {
        width: pxToVw(179);
        height: pxToVw(179);
        border-color: rgba(255,255,255,1);
        border-width: pxToVw(1);
    }

    100% {
        width: pxToVw(280);
        height: pxToVw(280);
        border-color: rgba(255,255,255,0);
        border-width: pxToVw(13);
    }
}
